- name: Linux // Install k3s on kube-control-01
  ansible.builtin.shell: |
    curl -sfL https://get.k3s.io | sh -s - server \
      --cluster-init \
      --node-taint "CriticalAddonsOnly=true:NoExecute" \
      --tls-san 192.168.1.30 \
      --write-kubeconfig-mode 644
  args:
    executable: /bin/bash
  changed_when: false
  delegate_to: kube-control-01
  run_once: true

- name: Linux // Get k3s token from kube-control-01
  ansible.builtin.shell: sudo cat /var/lib/rancher/k3s/server/node-token
  args:
    executable: /bin/bash
  register: k3s_token
  delegate_to: kube-control-01
  run_once: true
